<%= form_with(model: person, local: true, html: {class: "card p-4"}) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if person.persisted? %>
    <div data-controller="save-input" class="form-group">
      <%= form.label :host_video %>
      <%= form.check_box :host_video, data: { target: "save-input.input_field", action: 'click->save-input#save_changes' } %>
    </div>

    <div data-controller="save-input" class="form-group">
      <%= form.label :participants_video %>
      <%= form.check_box :participants_video, data: { target: "save-input.input_field", action: 'click->save-input#save_changes' } %>
    </div>

    <div data-controller="save-input" class="form-group">
      <%= form.label :join_before_host %>
      <%= form.check_box :join_before_host, data: { target: "save-input.input_field", action: 'click->save-input#save_changes' } %>
    </div>
  <% end %>

  <div class="actions">
    <button class="btn btn-secondary">
      Create Person
    </button>
  </div>
<% end %>
