<%= form_with(model: person, local: true, html: {class: "card p-4"}) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="people" class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, data: {reflex: "change->PersonReflex#change"} %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <button class="btn btn-secondary" data-id="<%= person.id %>" data-reflex="click->PersonReflex#submit">
      Create Person
    </button>
  </div>
<% end %>
