<div class="container"> 
  <%= form_with(model: product, local: true, data: { controller: 'validate', target: "validate.form" }) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, data: {target: 'validate.input', validate: { presence: { message: '^Name is required' } } } %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, data: {target: 'validate.input', validate: { presence: true, numericality: { greaterThan: 0, message: '^Price has to be above zero' } } } %>
    </div>

    <div class="field">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, data: {target: 'validate.input', validate: { presence: { message: '^Quantity is required' }, numericality: { lessThan: 10, message: '^No enough in stock'} } } %>
    </div>

    <div class="actions">
      <%= form.submit data: { action: 'validate#submitForm' } %>
    </div>
  <% end %>
</div>